English/12/Zoology/Biology_compressed.pdf
English/11/Electronics/Electronics_compressed(1).pdf
English/11/Electronics/._Electronics_compressed(1).pdf
English/12/Botany/Biology.pdf
English/12/ComputerScience/Part2_compressed.pdf